[submodule "libraries/object-editor"]
	path = libraries/object-editor
	url = https://github.com/Bli-AIk/object-editor.git
[submodule "libraries/langLib_zh_hans"]
	path = libraries/langLib_zh_hans
	url = https://github.com/Bli-AIk/kristal-langlib-zh-hans.git
[submodule ".emacs"]
	path = .emacs
	url = https://github.com/Bli-AIk/kristal-emacs-config.git
	branch = stable/lua
[submodule ".helix"]
	path = .helix
	url = https://github.com/Bli-AIk/kristal-helix-config.git
[submodule "libraries/terminal-cli"]
	path = libraries/terminal-cli
	url = https://github.com/Bli-AIk/kristal-terminal-cli.git
